#thread {
    padding: 4px;
    border: 1px solid black;
    margin-left: 20px;
}

#board-thread {
    padding: 4px;
}

#thread-content {
    width: available;
}

#message-box {
    background-color: red;
}

#message {
    background-color: #dddddd;
    margin-left: 50px;
    margin-top: 5px;
    border: 1px solid black;
    padding: 2px;
    width: 350px;
}

#background {
    background-color: #eee;
}

#thread-img {
    width: 150px;
    height: 150px;
}
